.deals-section{
    height: 30rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    

}
.deal-section-left {
width: 30%;
background: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}
.deal-section-left .date-time-cards{
    display: flex;
    flex-direction: row;
}
.deal-section-right{
    width: 70%;
    background: white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: flex-start;
}
.deal-section-right .card{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}
.deal-section-right img{
    height: 10rem;
}
/* Tablet + Mobile */
@media (max-width: 1024px) {
.deals-section{
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    
  }
  .deal-section-left{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;


  }
  .text{
    display: flex;
    flex-direction: column;
  }

  .deal-section-right{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  
}
