.extra-services-section .cards {
    padding: 40px 20px;
    background-color: white;
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}
.extra-services-section .head{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-left: 8rem;
}



