.recommended-item-section {
    padding: 40px 20px;
    background-color: #000;
    height: 20rem;
}

@media (min-width: 1200px) {
    .recommended-item-section {
        padding: 60px 120px;
        height: 24rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .recommended-item-section {
        padding: 50px 60px;
        height: 22rem;
    }
}